<div class="w3-display-container" style="width: 100%; height:100%; overflow: hidden">
	<div class="w3-display-middle">

		<div class="pixel-grid">
			<div class="pixel  p-0-0 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-1 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-2 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-3 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-4 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-5 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-6 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-7 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-8 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-9 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-10 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-11 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-12 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-13 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-14 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-15 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-16 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-17 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-18 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-19 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-20 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-21 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-22 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-23 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-24 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-25 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-26 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-27 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-28 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-29 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-30 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-31 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-32 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-33 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-34 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-35 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-36 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-0-37 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-38 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-39 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-40 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-41 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-0-42 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-0 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-1 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-2 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-3 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-4 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-5 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-6 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-7 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-8 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-9 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-1-10 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-11 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-12 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-13 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-1-14 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-15 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-16 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-17 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-18 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-19 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-20 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-21 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-1-22 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-23 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-24 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-25 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-1-26 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-27 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-28 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-29 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-1-30 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-31 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-32 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-33 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-1-34 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-35 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-36 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-37 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-1-38 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-39 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-40 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-41 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-1-42 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-0 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-1 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-2 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-3 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-4 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-5 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-6 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-7 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-8 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-9 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-10 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-11 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-12 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-13 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-14 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-15 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-16 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-17 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-18 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-19 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-20 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-21 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-22 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-23 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-24 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-25 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-26 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-27 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-28 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-29 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-30 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-31 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-32 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-33 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-34 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-35 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-36 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-2-37 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-38 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-39 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-40 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-41 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-2-42 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-0 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-1 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-2 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-3 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-4 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-5 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-6 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-7 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-8 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-9 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-10 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-11 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-12 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-13 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-14 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-15 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-16 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-17 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-18 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-19 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-20 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-21 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-22 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-23 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-24 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-25 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-26 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-27 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-28 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-29 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-30 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-31 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-32 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-33 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-34 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-35 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-36 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-37 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-38 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-39 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-40 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-3-41 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-3-42 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-0 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-1 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-2 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-3 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-4 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-5 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-6 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-7 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-8 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-9 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-10 w3-cyan">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-11 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-12 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-13 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-14 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-15 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-16 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-17 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-18 w3-orange">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-19 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-20 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-21 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-22 w3-blue">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-23 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-24 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-25 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-26 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-27 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-28 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-29 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-30 w3-purple">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-31 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-32 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-33 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-34 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-35 w3-yellow">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-36 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-4-37 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-38 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-39 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-40 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-41 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-4-42 w3-red">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-0 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-1 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-2 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-3 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-4 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-5 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-5-6 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-7 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-8 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-9 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-10 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-11 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-12 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-13 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-14 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-15 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-16 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-17 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-18 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-19 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-20 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-21 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-22 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-23 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-24 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-25 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-26 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-27 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-28 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-29 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-30 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-31 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-32 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-33 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-34 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-35 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-36 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-37 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-38 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-39 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-40 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-41 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-5-42 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-0 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-1 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-2 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-3 ">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-6-4 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-6-5 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel filled  p-6-6 w3-white">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-7 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-8 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-9 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-10 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-11 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-12 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-13 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-14 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-15 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-16 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-17 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-18 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-19 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-20 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-21 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-22 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-23 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-24 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-25 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-26 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-27 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-28 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-29 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-30 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-31 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-32 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-33 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-34 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-35 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-36 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-37 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-38 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-39 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-40 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-41 ">
				<div class="block"></div>
			</div>
			<div class="pixel  p-6-42 ">
				<div class="block"></div>
			</div>
		</div>


		<div class="tet-menu w3-center">
			<button class="w3-button w3-block" (click)="newGameEvent.emit(null)">
				<span>New Game</span>
			</button>
			<button class="w3-button w3-blocky" (click)="showHighscores = true">
					<span>Highscores</span>
				</button>			
			<button class="w3-button w3-block" (click)="showCredits = true">
				<span>Info &amp; Credits</span>
			</button>
		</div>
	</div>
</div>

<div class="w3-modal" [class.w3-show]="showHighscores">
	<div class="w3-modal-content w3-animate-top w3-theme-l3">
		<button type="button" class="w3-button w3-right w3-display-topright" (click)="showHighscores = false">&times;</button>
		<div class="w3-container">
			<p>Highscores</p>
			<div class="w3-small">
				<ul class="w3-ul">
					<li *ngFor="let s of highscores.scores; index as i">
						<div class="w3-right">{{s.score}}</div>
						<div><span>{{ i + 1 }} .</span> {{ s.name }}</div>
					</li>
				</ul>
			</div>
		</div>	
	</div>	
</div>	

<div class="w3-modal" [class.w3-show]="showCredits">
	<div class="w3-modal-content w3-animate-top w3-theme-l3">
		<div class="w3-container">
			<button type="button" class="w3-button w3-right w3-display-topright" (click)="showCredits = false">&times;</button>
			<p>Welcome to ngTetris</p>

			<div class="w3-small">
				<p>
					I've decided to move from AngularJS to the new Angular.io, so why not a Tetris
					clone as first project instead of boring Hello Worlds? Here I'm basically experimenting a bit
					with components and services, and have some fun with a lot of left floating DIVs.
				</p>
				<p>
					The rules should be pretty similar to the original game, the more lines
					you clear in one move, the more points you get. Clearing 4 lines is "Tetris", and each time
					you do, it awards more points.
				</p>
				<p>
					Also I think this is the first time that I program Tetris as I always considered it a boring
					game, but also I never really played it until now, which is a shame.
				</p>
				<p>
					Anwyay, I'd like to thank <i>gabrielwoj</i> for the
					<a href="https://www.sounds-resource.com/pc_computer/tetriszone/sound/586/" target="_blank">sounds effects</a>,
					they're awesome :) I couldn't find the music though, and so had some fun with FL Studio and
					created my own. It's not that great, but I like how it sounds.
				</p>
			</div>

		</div>
	</div>
</div>